$containerWidth: 940px;
$baseFontSize: 16px;
$grey: #f5f5f5;
$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;
$slipers: 375px;

@import "media";
@import "normalize";
@import "layout";
@import "components/hero";
@import "components/header";
@import "components/features.scss";
@import "components/feature.scss";
@import "components/btn.scss";
@import "components/section.scss";
@import "components/headline.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/form.scss";
@import "components/radio.scss";
@import "components/fixed-menu.scss";
@import "components/hamburger.scss";
@import "components/menu.scss";
@import "components/map.scss";
@import "components/footer.scss";
@import "components/socials.scss"; 
@import "components/beats.scss";
@import "components/controls.scss";
@import "components/slider.scss";
@import "components/overlay.scss";