
.beats__titile-section{
    
    width: 50%;
    margin-left: rem(40px);

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 78%;
        margin: 0;
    }

    @include phones {
        top: 18rem;
    }

    @include slipers {
        top: 13rem;
    }
}

.beats__main-title{
    font-weight: bold;
    font-size: rem(36px);
    text-transform: uppercase;


    @include tablets {
        margin-bottom: 1rem;
    }
    
}

.beats-title-desc{
    color: #666666;
    padding-right: 7%;

    @include tablets {
        padding: 0;
    }
}

.beats--info__subtitle{
    font-weight: bold;
}

.beats-price__numeral{
    font-size: 36px;
    display: inline-block;
    margin-right: 3rem;

    @include tablets {
        padding: 0;
        margin-right: 2rem;
    }
}

.beats__list{
    margin: 0;
    display: inline;
    padding-right: 30rem;


    @include tablets {
        padding: 0;
        margin-top: rem(-30px);
    }

    @include phones {
        margin-top: -20px;

    }
    
}

.beats__item{
    display: inline-block;
    margin-right: 9rem;
    margin-top: 3rem;
    margin-bottom: 2rem;

    &:last-child{
        margin-right: 0;
    }

    @include tablets {
        padding: 0;
        margin-right: 7rem;
    }
}

.beats-price{
    display: inline;

    @include tablets {
        margin-top: -15px;
    }
}

.beats-bg{
    
    width: 41%;
    max-width: 37.5rem;

    @include tablets {
       width: 59%;
       margin-bottom: rem(50px);
    }

    @include phones {
        margin-bottom: 1.1rem;
     }
}


