.benefits{
    display: flex;

    @include phones {
        flex-direction: column;
    }
}   

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: 3rem;
    }

    @include slipers {
        margin-bottom: 1rem;
    }


    // @include tablets {
    //     padding: 0 0%;
    // }
    

    &:before{
        content: url("../images/icons/circles.png");
        position: absolute;
        top: rem(55px);
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }

    }

    &:first-child{
        padding-left: 0;
    }

    &:last-child{
        padding-right: 0;

        &:before{
            display: none;
        }
    }
}