.btn{
    border-radius: 100px;
    padding: 14px 35px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &--color--red{
        background: #e01f3d;
        color: #fff;
    }

    &:hover { 
        background: #ca1b36;
        
    }

    &--theme--transparent {
        background: transparent;
        color: #999999;
        text-transform: none;

        &:hover { 
            background: transparent;
            color: #fff;
        }
    }
}


