.controls {
    cursor: pointer;
    width: 100%;
}

.controls-arrowL{
    left: 0;
}

.controls-arrowR{
    right: 0;
}

.controls-arrow__left{
    width: 15px;
    height: 31px;


    &:hover{
        fill: white;
    }


    // @include tablets {
    //     left: 8rem;
    //     top: -39.68rem;
    // }

    // @include phones {
    //     left: 3rem;
    //     top: -32rem;
    // }

    // @include slipers{
    //     right: 3rem;
    //     top: -27rem;
    // }
}

.controls-arrow__right{
    width: 15px;
    height: 31px;

    &:hover{
        fill: white;
    }

    // @include tablets {
    //     right: 8rem;
    //     top: -39.68rem;
    // }

    // @include phones {
    //     right: 3rem;
    //     top: -32rem;
    // }

    // @include slipers{
    //     right: 3rem;
    //     top: -27rem;
    // }
    
}

#right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

