.controls {
    cursor: pointer;
    width: 100%;
}

.controls-arrowL{
    left: 0;
}

.controls-arrowR{
    right: 0;
}

.controls-arrow__left{
    width: 15px;
    height: 31px;


    &:hover{
        fill: white;
    }


  
}

.controls-arrow__right{
    width: 15px;
    height: 31px;

    &:hover{
        fill: white;
    }

    
}

#right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

