.features{
    display: flex;
    justify-content: start;

    @include tablets {
        display: none;
    }


}

.features__item{
    margin-right: rem(41px);

    &:last-child{
        margin-right: 0;
    }
}