.footer{
    display: flex;


    @include phones {
        flex-direction: column;
    }
    
}


.footer-info{
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 3%;
    padding-right: 39%;

    @include phones {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer-desc{
    font-size: 18px;

}