.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: rem(30px);
    margin-bottom: 1.8rem;

    @include tablets {
        padding-top: 0;
    }

    @include slipers {
        margin-bottom: 0;
    }
    

.header__contacts-phone{
    
    @include tablets {
        display: none;
    }
}

}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo__pic{
    width: rem(42px);
    height: rem(42px);
    flex-shrink: 0;
    fill: blue;

    @include slipers {
        width: 3rem;
        height: 3rem;
    }
}


.bg{
    position: absolute;
    width: 50%;
    max-width: rem(600px);
    left: 47%;
    top: 23%;

    @include tablets {
        display: none;
    }
}