.headline{
    text-align: center;
    margin-bottom: rem(71px);

    @include slipers {
        margin-bottom: 1.4rem;
    }
}

.headline__title{
    padding-top: 5rem;

    @include phones {
        
        font-size: 36px;
    }

    @include slipers {
        font-size: rem(24px);
        padding-top: 0;
    }
    
    
}

.headline__subtitle{
    color: #666666;
    padding: 0 19%;
    font-size: rem(18px);

    @include tablets {
        padding: 0 13%;
    }

    @include phones {
        padding: 0 7%;
    }

    @include slipers {
        font-size: 1rem;
    }
}