.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 94px;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo__pic{
    width: 42px;
    height: 42px;
}
.menu{
    position: relative;
}

.menu__list{
    display: flex;
    align-items: center;

}

.menu__item{
    margin-right: 26px;

    &:last-child{
        margin-right: 0;
    }
}

.menu__link{
    text-decoration: none;
}


.contacts-phone{
    font-size: 21px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contacts-phone__text{
    font-style: normal;
    text-align: right;
    text-decoration: none;
}

.contacts-phone__icon-elem{
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.bg{
    position: absolute;
    width: 50%;
    max-width: 600px;
    left: 47%;
    top: 23%;
}