
.hero{
    background-color: $grey;
    height: 100vh;
    min-height: rem(700px);
    position: relative;
    &:before{
        position: absolute;
        bottom: rem(-26px);
        right: 10%;
        z-index: 1;
        content: url("../images/icons/decor-p1.png");
    }

    @include tablets {
        min-height: initial;
    }

}


.hero__titile-section{
    width: 46%;
    margin-bottom: rem(116px);

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before{ 
            content:"";
            width: rem(300px);
            height: rem(300px);
            background: url("../images/icons/Эллипс 7.png") center center /contain no-repeat;
            
        }
    }

    @include slipers {
        margin-bottom: 0;
    }
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px) 0;

    @include slipers {
        padding: rem(24px) 0 0 0;
    }
}

.hero__main-title{
    font-size: rem(48px);
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: .6rem;
    text-transform: uppercase;

    @include tablets {
        padding: 1.7% 6%;
    }

    @include phones {
        padding: 1.7% 8%;
    }

    @include slipers {
        font-size: 1.4rem;
        padding: 1.7% 10%;
    }
     
}

.hero-title-desc{
    font-size: rem(21px);
    margin-bottom: rem(28px);
    padding-right: 10%;

    @include tablets {
        padding: 0 0%;
    }

    @include slipers {
        font-size: 1.2rem;
    }
}

