.menu__overlay{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #313436;
    opacity: .993;
    padding: 20;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    width: 100%;
}
.menu__overlay .modal-container{
    font-size: 2.25rem;
    color: white;
    line-height: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 4.9125rem;
    z-index: 274;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include slipers{
        top: 6.9125rem;
    }
}

.menu__overlay .close{
    display: block;
    position: absolute;
    content: url("../images/closer.png");
    right: 2rem;
    top: 2rem;
}

