.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-bottom: rem(10px);

    &--checkbox {
        .radio__visible{
            border-radius: 0;

            &:before{
                border-radius: 0;
            }
        }
        
    }
}

.radio__elem{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

    &:focus{
        border-color:#e01f3d;
        outline: none;
    }

    &:checked ~ .radio__visible {
        &:before{
            display: block;
        }
    }

    &:focus ~ .radio__elem{
        box-shadow: blue;
    }
}

.radio__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);

    &:before{
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: #e01f3d;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio__title{
    font-size: rem(18px);
    margin-right: rem(20px);
    color: #f8faf9;
}