.section{
    height: 100vh;
    min-height: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.section__why{
    background: #fff;
}

.section__review{
    background: #fff;
}

.section__delivery{
    background: url("../images/bg2.png") center bottom no-repeat;
    background-color: #161616;
    color: #fff;
}

.section__map {
    background: url("../images/карта.png") center center/cover no-repeat;
    background-color: #cfdeda;
}

.section__title{
    font-size: rem(48px);
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 5%;

    @include slipers {
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.section__title--review{
    margin-bottom: rem(45px);

    @include slipers {
        margin-bottom: 0rem;
    }

}

