.section{
    height: 100vh;
    min-height: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__why{
    position: relative;
    background: #fff;

    &:before{
        position: absolute;
        z-index: 1;
        bottom: -1.5rem;
        left: 5rem;
        content: url("../images/icons/triangle.png");
    }
}

.section__review{
    background: #fff;
}

.section__delivery{
    background: url("../images/bg2.png") center bottom no-repeat;
    background-color: #161616;
    color: #fff;
}

.section__title-delivery{
    margin-top: 3rem;
}



.section__title{
    font-size: rem(48px);
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 5%;

    @include slipers {
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.section__title--review{
    margin-bottom: rem(45px);

    @include slipers {
        margin-bottom: 0rem;
    }

}

.section__beats{
    position: relative;

    &:before{
        position: absolute;
        bottom: rem(-26px);
        right: 10%;
        z-index: 1;
        content: url("../images/icons/square.png");
    }

}

.section__team{
    background: white;
}

.section__menu{
    position: relative;
    background: #000;
    background: url("../../images/menu-back.png") left/cover no-repeat;
   
}

.section__title-menu{
    color: white;
    text-align: left;
    position: relative;
    top: -15rem;
    margin-left: 3rem;
}

