.slider{
    display: flex;
     

    .bx-wrapper{
        border: 0;
        background: transparent;
        box-shadow: none;

        .bx-viewport{
            overflow: unset !important;
            top: 6rem;
            }

    }
    
}


.slider__list{
    
    display: flex;
    position: relative;
    width: 100%;

}

.slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;

    @include tablets {
       flex-direction: column;
    }

    @include phones {
        width: 90%;
        margin: 0 auto;
     }

}
  